::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* make the tracking area transparent */
}

::-webkit-scrollbar-thumb {
  background: white; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovering */
}

body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, white, lightgrey);
  margin: 0;
}
#topbar {
  display: flex;
  justify-content: space-around;
  
  border-width: 10px; /*doesn't work so I kept padding*/
  border-image: linear-gradient(to bottom right, black 0%, #001900 25%, #003200 50%, #004b00 75%, #006400 100%);
  position: sticky; 
  top: 0;
  z-index: 100; /*ensures the navbar appears on top of other content */
}

#topbar button {
  width: 20%; 
  font-size: 150%;
}
#instagram, #timer, #footer {
  text-align: center;
  padding: 20px;
}
#events {
  font-size: 24px; 
}
.header {
  text-align: center;
  padding: 20px;
  color: darkgrey;
  background: linear-gradient(to top right, black 0%, #001900 25%, #003200 50%, #004b00 75%, #006400 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.header h1 {
  font-family: '1955', sans-serif;
  font-size: 80px;
  margin: 0;
  text-shadow: 0 0 10px grey, 0 0 20px grey, 0 0 30px grey, 0 0 40px grey, 0 0 50px grey, 0 0 60px grey; /* Add initial glow */
  animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
      text-shadow: 0 0 20px grey, 0 0 30px grey, 0 0 40px grey, 0 0 50px grey, 0 0 60px grey;
  }
  to {
      text-shadow: 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green, 0 0 80px green; /* Increase glow */
  }
}
@media (max-width: 600px) {
  .header h1 {
      font-size: 30px;
  }
}

.side-pads{
  padding-left: 20px;
  padding-right: 20px;
}

.footer-links img {
  width: 75px;
  padding-inline: 10px;
  border-radius: 33%;
}

.subpage {
  display: none;
}
.active {
  display: block;
}
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 4vw;
  text-decoration: none;
  padding: 0.9em 0; 
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-button--gooey {
  color: #006400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #006400;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}
.selected {
  background-color: #006400;
  color: white;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #006400; /* Dark green color */
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 0ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 75ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
#image-section {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
#text-section, #timeline-section {
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeline {
  position: relative;
  margin-bottom: 200px;
}
#timeline::before {
  content: '';
  position: absolute;
  top: calc(50% + 15px);
  left: 0;
  width: 100%;
  border-top: 5px solid black;
}
.fa {
  cursor: pointer;
  font-size: 48px;
}
.event {
  position: absolute;
  top: 0;
  text-align: center;
}
#startYear, #currentYear{
  font-weight: bold;
}
#startYear::before, #currentYear::after {
  content: "|";
  position: absolute;
  width: 2px;
  height: 15px;
  background: black;
  margin-top: 20px;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.no-bullet {
  list-style-type: none;
}

.deacthlon-header {
      font-size: 24px; /* Larger font size */
      font-weight: bold; /* Make the text bold */
      color: #333; /* Dark grey color for better readability */
      text-align: center; /* Center the text */
      padding: 20px; /* Add some padding around the text */
      margin-bottom: 30px; /* Add some space below the header */
      border-bottom: 2px solid #666; /* A subtle bottom border */
      background-color: #f8f8f8; /* A light background color */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A soft shadow to lift the header */
      border-radius: 5px; /* Rounded corners */
  }
  .deacthlon {
      display: flex;
  }
  .deacthlon-left-half {
      width: 50%;
  }
  .deacthlon-right-half {
      width: 50%;
      position: relative;
  }
  .deacthlon-event-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }
  .deacthlon-event-title {
      flex: 2; 
  }
  .deacthlon-event-score {
      width: 25%;
  }
  .deacthlon-event-units {
      flex: 1;
      margin-left: 10px;
  }
  .deacthlon-event-points {
      flex: 1; 
      text-align: right;
  }
  .deacthlon-total-score {
      align-items: center;
      margin-top: 20px;
      margin-left: '100%';
      font-weight: bold;
  }
  .deacthlon-line {
      position: absolute;
      height: 2px;
      left: 0;
  }
  .deacthlon-input {
  max-width: 100px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  }

  .deacthlon-input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
  }

  @keyframes justshake {
  25% {
      transform: translateX(5px);
  }

  50% {
      transform: translateX(-5px);
  }

  75% {
      transform: translateX(5px);
  }

  100% {
      transform: translateX-(5px);
  }
  }
  #deacthlon-visual-container {
  position: relative;
  width: 100%; /* Full width of the container */
  height: 500px; /* Adjust the height as needed */
  overflow: hidden; /* Prevents content from spilling outside the container */
  }

  .carnivore-left-half {
      width: 50%;
      /*background-image: url('images/carnivore.jpg');
      background-size: cover;
      position: relative;
      z-index: 1;*/
  }
  .carnivore-right-half {
      width: 50%;
      padding: 10px;
  }
  p {
      font-family: 'Arial', sans-serif; /* Change the font to Arial. */
      font-size: 16px; /* Set the font size to 16 pixels. */
      line-height: 1.6; /* Set the space between lines. */
      color: #333; /* Set the text color. */
      margin-bottom: 20px; /* Add space below each paragraph. */
      text-align: justify; /* Align the text to both left and right margins. */
  }

  .contact-input {
  padding: 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  margin-bottom: 25px;
}
.container {
      display: flex;
      flex-direction: column;
}
.row-container{
  display: flex;
  flex-direction: row;
}

.contact-input.short {
  max-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-input.long {
  width: 400px;
}

.contact-input:invalid:focus:not(:placeholder-shown) {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
      transform: translateX(5px);
  }

  50% {
      transform: translateX(-5px);
  }

  75% {
      transform: translateX(5px);
  }

  100% {
      transform: translateX(-5px);
  }
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#nameRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-btn:link,
.contact-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.contact-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.contact-btn:active {
  transform: translateY(-3px);
}

.contact-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.contact-btn:hover::after {
  background-color: rgb(32, 128, 64);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
.autoExpand {
  overflow-y: hidden;
  resize: none;
}

.statistics-section {
display: flex;
flex-wrap: wrap;
padding: 20px; 
}

.track-event {
flex: 0 0 50%;
margin-bottom: 20px; 
}

.highScore-animate {
font-size: 24px;
font-weight: bold;
}